<div class="body">
    <app-navigation></app-navigation>
    <div class="product-card">
        <form class="form-user"  [formGroup]="productform" (ngSubmit)="addproduct()"><span class="reauth-email"> </span>
            <h4 class="card-title">Add product Item </h4>
            <hr>
            <label>Product Name
            </label>
            <div *ngIf="submitted">
                <span *ngIf="f['productName'].errors?.['required'] || f['productName'].errors?.['noWhiteSpaceValidator']" class="text-danger">Please enter an product name</span>
            </div>
            <input maxlength="32" type="text" class="form-control" formControlName="productName" placeholder="Enter product Name" required>
            <br>

            <label>Price
            </label>
            <div *ngIf="submitted">
                <span *ngIf="f['price'].errors?.['required'] || f['price'].errors?.['noWhiteSpaceValidator']" class="text-danger">Please enter the price of the product</span>
            </div>
            <input type="number" class="form-control" formControlName="price" placeholder="Enter product stock" required>
            <br>

            <label>Stock
            </label>
            <div *ngIf="submitted">
                <span *ngIf="f['stock'].errors?.['stock'] || f['stock'].errors?.['noWhitespaceValidator']" class="text-danger" >Please enter the stock on hand</span>
            </div>
            <input type="number" class="form-control" formControlName="stock" placeholder="Enter product stock" required>
            <br>    
            <input type="submit" class="btn" value="Save">
        </form>
        <div class="text-center"></div>
    </div>
</div>
