<div class = "body">
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1><span style="font-weight:normal; color: rgba(255, 255, 255, 0.874);">Welcome Back.</span></h1>
                <p>Please enter your login details</p>
            </div>
        </div>

        <div class="right">
        <h4 class="login">Login</h4>
        <br>
        <br>
        <div class="inputs">
            <input type="text" placeholder="Username">
            <br>
            <input type="password" placeholder="Password">
        </div>

        <br>
        <br>
        <br>
        <button>Login</button>
        </div>
    </div>
</div>